In [1]:
import pandas as pd
import numpy as np

In [2]:
columns1 = ['ep','time', 'elapsed','x-axis','y-axis', 'z-axis']
columns2 = ['ep1','time1', 'elapsed1','x-axis_g','y-axis_g', 'z-axis_g']

In [3]:
df1 = pd.read_csv('datasets/Sumit_task2_batch1_Accelerometer.csv', header = None, names = columns1)
df2 = pd.read_csv('datasets/Sumit_task2_batch1_Gyroscope.csv', header = None, names = columns2)
df3 = pd.read_csv('datasets/Sumit_task2_batch2_Accelerometer.csv', header = None, names = columns1)
df4 = pd.read_csv('datasets/Sumit_task2_batch2_Gyroscope.csv', header = None, names = columns2)
df5 = pd.read_csv('datasets/Sumit_walking_Accelerometer.csv', header = None, names = columns1)
df6 = pd.read_csv('datasets/Sumit_walking_Gyroscope.csv', header = None, names = columns2)
df7 = pd.read_csv('datasets/Sumit_sitting_Accelerometer.csv', header = None, names = columns1)
df8 = pd.read_csv('datasets/Sumit_sitting_Gyroscope.csv', header = None, names = columns2)

In [7]:
df_task = pd.concat([df1,df2], axis =1)
del df_task['ep']
del df_task['time']
del df_task['elapsed']
del df_task['ep1']
del df_task['time1']
del df_task['elapsed1']
df_task = df_task.iloc[1:]
df_task['activity'] = 1
df_task.head()

   x-axis y-axis z-axis x-axis_g y-axis_g z-axis_g  activity
1  -0.765  0.075  0.660   -7.195   -2.561    2.927         1
2  -0.775  0.068  0.656   -6.707   -1.707    2.744         1
3  -0.776  0.055  0.662   -6.707    1.098    2.073         1
4  -0.773  0.057  0.669   -6.037    2.927    0.976         1
5  -0.784  0.061  0.668   -5.183    0.610    0.122         1

In [5]:
df_task_1 = pd.concat([df3,df4], axis =1)
del df_task_1['ep']
del df_task_1['time']
del df_task_1['elapsed']
del df_task_1['ep1']
del df_task_1['time1']
del df_task_1['elapsed1']
df_task_1 = df_task_1.iloc[1:]
df_task_1['activity'] = 1
df_task_1.head()

   x-axis y-axis z-axis x-axis_g y-axis_g z-axis_g  activity
1  -0.766  0.042  0.684   -0.244   -0.854   -0.305         1
2  -0.760  0.043  0.683   -0.061    0.732   -0.122         1
3  -0.753  0.047  0.682    0.183    0.122    0.122         1
4  -0.759  0.048  0.682    0.000   -1.037    0.366         1
5  -0.762  0.044  0.688   -0.061   -1.098    0.244         1

In [6]:
df_walking = pd.concat([df5,df6], axis =1)
del df_walking['ep']
del df_walking['time']
del df_walking['elapsed']
del df_walking['ep1']
del df_walking['time1']
del df_walking['elapsed1']
df_walking = df_walking.iloc[1:]
df_walking['activity'] = 2
df_walking.head()

   x-axis  y-axis z-axis x-axis_g y-axis_g z-axis_g  activity
1  -0.232  -0.969  0.176   -0.305    1.280   -1.951         2
2  -0.232  -0.971  0.174   -0.427    1.768   -2.683         2
3  -0.243  -0.974  0.170   -0.488    1.037   -2.683         2
4  -0.238  -0.972  0.170   -0.671    1.402   -2.439         2
5  -0.240  -0.972  0.170   -0.793    1.402   -1.890         2

In [7]:
df_sitting = pd.concat([df7,df8], axis =1)
del df_sitting['ep']
del df_sitting['time']
del df_sitting['elapsed']
del df_sitting['ep1']
del df_sitting['time1']
del df_sitting['elapsed1']
df_sitting = df_sitting.iloc[1:]
df_sitting['activity'] = 3
df_sitting.head()

   x-axis y-axis z-axis x-axis_g y-axis_g z-axis_g  activity
1  -1.023  0.010  0.015   -0.427   -1.402    0.305         3
2  -1.017  0.012  0.020   -0.671   -1.463    0.427         3
3  -1.020  0.009  0.030   -0.610   -0.915    0.366         3
4  -1.020  0.005  0.031   -0.671   -1.341    0.305         3
5  -1.015  0.007  0.036   -0.549   -1.341    0.305         3

In [8]:
df_sitting.to_csv(r'Sumit_sitting.csv', header=False, index = False)
df_task.to_csv(r'Sumit_task2.csv', header=False, index = False)
df_task_1.to_csv(r'Sumit_task2_1.csv', header=False, index = False)
df_walking.to_csv(r'Sumit_walking.csv', header=False, index = False)